body {
	display:flex;
	flex-direction:column;
	justify-content:center;
	background-color: #b3cde0;
	width: 98%;
	height: 100%;
	margin:0.5em;
	padding:0px;
	font-family: Courier;
}

img.main_logo{
	display:flex;
	padding: 0px;
}

.logout{
	text-decoration: none;
	font-family: Courier;
	font-size: 15px;
	align-self:flex-start;
	background-color: #b3cde0; 
	color: #005b96;
	border:0px;
	border-radius: 5px;
	padding: 3px;
	margin-top:10px;
	margin-right:10px;

}
.logoutdiv{
	display:flex;
	flex-direction:row;
	justify-content:stretch;
	width: 100%;
	flex-shrink: 10;
}

/* base styling */

.site_title{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	width:100%;
	background-color: #005b96;  /* Mörk: 005b96, Ljus: b3cde0 nästan vit: e8f3ff, Grön eeff72 */
	border: 1px solid #005b96;
	border-radius: 15px;
}
.page_title{
	align-self:center;
	font-size: 30px;
	padding: 0em;
	color:#e8f3ff;
	margin-left: 30px;
	margin-top:10px;
	width: 100%;
	flex-shrink: 1;
	/*margin-bottom:28px;*/
}

.footer{
	background-color: #005b96;  /* Mörk: 005b96, Ljus: b3cde0 nästan vit: e8f3ff, Grön eeff72 */
	border-radius: 15px;
	padding: 5px;
	color: #e8f3ff;
}

.navigation{
	width: 100%;
	margin-top:7px;
	margin-bottom:10px;
	display:flex;
	flex-direction:row;
	align-items:stretch;
	justify-content:space-between;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 720px) {
    .navigation {
        display: table;
        height: auto;
    }
}


.tool-container{
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items:center;
	width: 100%;
}


/* Button styling */

a.navButton {
	display: flex;
    justify-content: center;
    flex-basis:30%;
    flex-shrink:4;
    align-items:center;
    text-decoration: none;
    background-color: #005b96;
    color:#e8f3ff;   /**/
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top:0.4em;
    padding-bottom:0.4em;
    margin:10px;
    font-size: 40px;
    font-family: Courier;
    text-align: center;
    border-radius: 15px;
    height:auto;
    /*min-width: 240px;*/
    max-width: 400px;
}

a.canSNPButton{
	min-width: 240px;
	order:3;
}
a.analysisButton{
	order:2;
}


a.navButton:hover{
	background-color: #226c97;
	box-shadow: 1px 2px #03396c;
	transform: translate(-1px,-1px);
}
a.navButton:active{
	background-color: #226c97;
	transform: translate(2px,2px);
}


/* Network container */

.tool-container2{
	display: flex;
	flex-direction:column;
	justify-content:center;
	border-top: 1px solid #005b96;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-left:0.5px solid #0074bf;
	border-right:0.5px solid #0074bf;
	padding:0.5em;
}

/* Input box styling  */

.networkInfoText{
	display:flex;
	justify-content:space-between;
	font-size: 20px;
}


.inputBox{
	align-self:flex-end;
	width:50px;
	padding:2px;
	padding-left: 10px;
	border-width: 0px;
	border-radius: 5px;
	background-color:#226c97;
	color: #e8f3ff;
	font-size:15px;
}
.inputBox:hover{
	background-color: #447da9;
}


/* Network styling */

.network-container{
	display: flex;
	justify-content:center;
	width: 100%;
	height: 100%;
}
@media (max-width: 1px) {
    .network-container {
    	margin-top:100px;
        transform: rotate(90deg);

    }

}
@media (max-width: 1px) {
    .network-container {
    	visibility:hidden;
    	opacity: 0;
    }
    a.navButton{
    	font-size:30px;
    }
}

.node {
		cursor: pointer;
	}

	.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 3px;
	}

	.node text {
	  font: 12px sans-serif;
	}

	.link {
	  fill: none;
	  stroke: #eee;
	  stroke-width: 2px;
	}

.submission{
	margin-left:20px;
	display:flex;
	flex-flow: row wrap;
  	align-content:flex-start;
  	font-size: 15px;
}

#SNPnumber{
	background-color: #8b9dc3;
	color: #FFF;
}

.submission button{
	border-radius: 5px;
	border: 0px;
	background-color: #005b96; 
	color: #e8f3ff;
	align-self: flex-start;
	font-size: 15px;
	padding-left: 5px;
	padding-right: 5px;

}

.submission input{
	border-radius: 5px;
	border: 0px;
	background-color: #005b96; 
	color: #e8f3ff;
	align-self: flex-end;
	font-size: 15px;
	padding-left: 5px;
	padding-right: 5px;
}
.submission select{
	border-radius: 5px;
	border: 0px;
	background-color: #005b96; 
	color: #e8f3ff;
	align-self: flex-end;
	font-size: 15px;
	padding-left: 5px;
	padding-right: 5px;
}
.submission textarea{
	border-radius: 5px;
	border: 0px;
	background-color: #005b96; 
	color: #e8f3ff;
	padding: 5px;
}
.submission label{
	align-self:flex-start;
	margin-right: 10px;
}
.submission p{
	display:flex;
	justify-content:space-between;
}

.submission #snp_custom {
	margin-left: 50px;
}

.submission #showbutton1 {
	margin-left: 20px;
	background-color: #006ab0;
}
.submission #showbutton1:hover {
	background-color: #006ab0;
}

.submission #submitbutton {
	margin-top: 2px;
	background-color: #963b00;
	align-self:flex-start;
}
.submission #submitbutton:hover {
	background-color: #b04500;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: auto;                  
  height: auto;
  min-width: 100px;
  min-height: 50px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: #b19cd9;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}