body {
	display:flex;
	flex-direction:column;
	justify-content:center;
	background-color: #b3cde0;
	width: 98%;
	height: 100%;
	margin:0.5em;
	padding:0px;
	font-family: Courier;
}

/* base styling */

.site_title{
	display:flex;
	flex-direction:column;
	justify-content:center;
	width:100%;
	background-color: #b3cde0;
	border: 1px solid black;
	border-radius: 15px;
}
.page_title{
	font-size: 30px;
	padding: 0.2em;
	}

.navigation{
	width: 100%;
	margin-top:7px;
	margin-bottom:10px;
	display:flex;
	flex-direction:row;
	align-items:stretch;
	justify-content:space-between;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 720px) {
    .navigation {
        display: table;
        height: auto;
    }
}


.tool-container{
	display: flex;
	flex-direction: row;
	justify-content:center;
	align-items:center;
	width: 100%;
}


/* Button styling */

a.navButton {
	display: flex;
    justify-content: center;
    flex-basis:30%;
    flex-shrink:4;
    align-items:center;
    text-decoration: none;
    background-color: #005b96;
    color:#b3cde0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top:0.4em;
    padding-bottom:0.4em;
    margin:10px;
    font-size: 40px;
    font-family: Courier;
    text-align: center;
    border-radius: 15px;
    height:auto;
    /*min-width: 240px;*/
    max-width: 400px;
}

a.canSNPButton{
	min-width: 240px;
	order:3;
}
a.analysisButton{
	order:2;
}


a.navButton:hover{
	background-color: #226c97;
	box-shadow: 1px 2px #03396c;
	transform: translate(-1px,-1px);
}
a.navButton:active{
	background-color: #226c97;
	transform: translate(2px,2px);
}

/* Network container */

.tool-container2{
	display: flex;
	flex-direction:column;
	justify-content:center;
	border-top: 1px solid black;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-left:0.5px solid grey;
	border-right:0.5px solid grey;
	padding:0.5em;
}


/* Network styling */

.network-container{
	display: flex;
	justify-content:center;
	width: 100%;
	height: 100%;
}
@media (max-width: 1px) {
    .network-container {
    	margin-top:100px;
        transform: rotate(90deg);

    }

}
@media (max-width: 1px) {
    .network-container {
    	visibility:hidden;
    	opacity: 0;
    }
    a.navButton{
    	font-size:30px;
    }
}

.node {
		cursor: pointer;
	}

	.node circle {
	  fill: #fff;
	  stroke: steelblue;
	  stroke-width: 3px;
	}

	.node text {
	  font: 12px sans-serif;
	}

	.link {
	  fill: none;
	  stroke: #eee;
	  stroke-width: 2px;
	}

/* Input box styling  */

.networkInfoText{
	display:flex;
	justify-content:space-between;
}

.inputBox{
	align-self:flex-end;
	width:50px;
	padding:2px;
	padding-left: 10px;
	border-width: 0px;
	border-radius: 5px;
	background-color:#226c97;
	color: #b3cde0;
	font-size:15px;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: auto;                  
  height: auto;
  min-width: 100px;
  min-height: 50px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: #b19cd9;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
}