{% extends "base.html" %}

{% block head_title %} Home {% endblock head_title %}

{% block title %}
<i>Francisella</i> Canonical <span style="color: #eeff72">SNP</span>  database
{% endblock title %}


{% block content %}

<!-- Main wiki text, or explanation of site (home) -->

{% endblock content %}


{% block content2 %}

<div class="networkInfoText" ><div><i>Francisella</i> canonical tree</div> <div> <small>Highlight: <input class="inputBox" id="highlight" size="2" name="highligt" value="">  Root:</small><input class="inputBox" id="snpinput" size="2" name="SNProot" value="263"> </input></div>
</div>
<div id="network-container" class="network-container">

</div>

{% endblock content2 %}

{% block network %}

<!-- load the d3.js library --> 
<script src="http://d3js.org/d3.v3.min.js"></script>
	
<script>

var timeout;
var topoffset = 270;
var leftoffset = 10;
var treeData = null;
var glob_height = 2000;
var selected_default = "263";

function set_glob_height(height){
	glob_height = height;
}

function getCookie(name) {
	var cookieValue = null;
	if (document.cookie && document.cookie != '') {
		var cookies = document.cookie.split(';');
		for (var i = 0; i < cookies.length; i++) {
			var cookie = jQuery.trim(cookies[i]);
			// Does this cookie string begin with the name we want?
			if (cookie.substring(0, name.length + 1) == (name + '=')) {
				cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
				break;
			}
		}
	}
	return cookieValue;
}

function load_tree(snpid){
	var csrftoken = getCookie('csrftoken');
	$.ajax({
		type: "POST",
		url: "get_tree/", 
		async:false,
		data: {
			'SNPid':snpid,
			'csrfmiddlewaretoken':csrftoken,
			'database':"FOIWebsite.db",
			'table':"SNP"
		},
		success: function(data) {
			treeData = JSON.parse(data)
		}
	});
	return(treeData);
}

/* This function calls the database and rewrite the tree with the selected root node */
function change_root(){
	d3.select("#networksvg").remove();
	treeData = null;
	new_root = $("#snpinput").val();
	treeData = load_tree(snpid=new_root);
	render_tree(treeData);
}

/* Tool tip div */ 
var div = d3.select("body").append("div")   
	.attr("class", "tooltip")               
	.style("opacity", 0);

/*  Tooltip response functions get requested data from database */


function tooltipNode(node){
	return(node);
}

function tooltipLink(link){
	return(link);
}

// ----- end tooltip functions -----

function render_tree(ltreeData){
	// ************** Generate the tree diagram  *****************
	// Margins required for node lables to fit within frame width adjusted to current window size
	var margin = {top: 10, right: 40, bottom: 10, left: 40},
		width = $(window).width() - margin.right - margin.left,
		height = glob_height - margin.top - margin.bottom;
		
	var i = 0,
		duration = 750,
		root;

	var tree = d3.layout.tree()
		.size([height, width]);

	var diagonal = d3.svg.diagonal()
		.projection(function(d) { return [d.y, d.x]; });

	var svg = d3.select("div.network-container").append("svg")
		.attr("id", "networksvg")
		.attr("width", width + margin.right + margin.left)
		.attr("height", height + margin.top + margin.bottom)
		.append("g")
		.attr("transform", "translate(" + margin.left + "," + margin.top + ")");

	root = ltreeData[0];
	root.x0 = height / 2;
	root.y0 = 0;


	/*### Count child level and adjust width */
	var levelWidth = [1];
	var childCount = function(level, n) {
		if(n.children && n.children.length > 0) {
			if(levelWidth.length <= level + 1) levelWidth.push(0);
			levelWidth[level+1] += 1;
			n.children.forEach(function(d) {
				childCount(level + 1, d);
			});
		}
	};
	
	childCount(0, root);  

	//console.log(Math.max.apply(null,levelWidth));
	//console.log(levelWidth);
	//Math.max.apply(null,levelWidth)   use if also height scale!

	var treedepth = (width/levelWidth.length)
	update(root);

	d3.select(self.frameElement).style("height", "1000px");

	function update(source) {

		// Compute the new tree layout.
		var nodes = tree.nodes(root).reverse(),
			links = tree.links(nodes);

		// Normalize for fixed-depth.
		nodes.forEach(function(d) { 
			d.y = d.depth * treedepth; 
		});

		// Update the nodes…
		var node = svg.selectAll("g.node")
			.data(nodes, function(d) { 
				return d.id || (d.id = ++i); 
			});

		// Enter any new nodes at the parent's previous position.
		var nodeEnter = node.enter().append("g")
			.attr("class", "node")
			.attr("transform", function(d) { 
				return "translate(" + source.y0 + "," + source.x0 + ")"; 
			})
			.on("click", click)
			.on("dblclick", dblClick)
			.on("mouseover", function(obj){
				if(timeout) clearTimeout(timeout);
				timeout = setTimeout(mouseover, 1000,obj);
			}).on("mouseout", function(obj){
				clearTimeout(timeout);
				mouseout(obj);
			})

		nodeEnter.append("circle")
			.attr("r", 1e-6)
			.style("fill", function(d) { 
				return d._children ? "lightsteelblue" : d.color; // If child then blue else white
			});



		nodeEnter.append("text")
			.attr("x", function(d) { return d.children || d._children ? -13 : 13; })
			.attr("dy", ".35em")
			.attr("text-anchor", function(d) { 
				return d.children || d._children ? "end" : "start"; 
			})
			.text(function(d) { return d.name; })
			.style("fill-opacity", 1e-6);

		// Transition nodes to their new position.
		var nodeUpdate = node.transition()
			.duration(duration)
			.attr("transform", function(d) { 
				return "translate(" + d.y + "," + d.x + ")"; 
			});

		nodeUpdate.select("circle")
			.attr("r", 10)
			.style("fill", function(d) { 
				return d._children ? "lightsteelblue" : d.color; 
			});

		nodeUpdate.select("text")
			.style("fill-opacity", 1);

		// Transition exiting nodes to the parent's new position.
		var nodeExit = node.exit().transition()
			.duration(duration)
			.attr("transform", function(d) { 
				return "translate(" + source.y + "," + source.x + ")"; 
			})
			.remove();

		nodeExit.select("circle")
			.attr("r", 1e-6);

		nodeExit.select("text")
			.style("fill-opacity", 1e-6);


		// Update the links…
		var link = svg.selectAll(".link")
			.data(links, function(d) { 
				return d.target.id; 
			});


		// Enter any new links at the parent's previous position.
		link.enter().insert("path", "g")
			.attr("class", "link")
			.style("stroke", function(d){
					if (d.source.color == "#fff" || d.target.color == "#fff"){
						return("#fff")
					}else{
						return(d.target.color)
					}

			})
			.on("mouseover", function(obj){
						if(timeout) clearTimeout(timeout);
							timeout = setTimeout(mouseoverLink, 1000,obj);
			}).on("mouseout", function(){
				clearTimeout(timeout);
			})
			.attr("d", function(d) {
			var o = {x: source.x0, y: source.y0};
				return diagonal({source: o, target: o});
			});

		link.append("text")
			.attr("class","text-link")
			.attr("font-family", "Arial, Helvetica, sans-serif")
			.attr("fill", "Black")
			.style("font", "normal 12px Arial")


		// Transition links to their new position.
		link.transition()
			.duration(duration)
			.attr("d", diagonal);

		// Transition exiting nodes to the parent's new position.
		link.exit().transition()
			.duration(duration)
			.attr("d", function(d) {
			var o = {x: source.x, y: source.y};
				return diagonal({source: o, target: o});
			})
			.remove();

		// Stash the old positions for transition.
		nodes.forEach(function(d) {
		d.x0 = d.x;
		d.y0 = d.y;
		});

	}

	/*   tool tip function  */

	
	function mouseover(d){
		div.transition()        
			.duration(200)      
			.style("opacity", 1);      
		div.html(tooltipNode(d.name))  
			.style("left", (leftoffset+d.y+60) + "px")     
			.style("top", (topoffset+d.x+10) + "px");
	}

	function mouseout(d){
		div.transition()        
			.duration(500)      
			.style("opacity", 0);  
	}


	function mouseoverLink(l){
		/*var o = {x: l.source.x0, y: l.target.y0};
		d = diagonal({source: o, target: o});
		//console.log(d.x0,d.y0);
		div.transition()        
			.duration(200)      
			.style("opacity", .9);      
		div.html(tooltipLink(l.target.name))  
			.style("left", (leftoffset+d.y+60) + "px")     
			.style("top", (topoffset+d.x +10) + "px");*/
	}

		// Toggle children on click.
	function click(d) {
		div.transition()        
			.duration(0)      
			.style("opacity", 0);  
		if (d.children) {
			d._children = d.children;
			d.children = null;
		} else {
			d.children = d._children;
			d._children = null;
		}
		update(d);
	}

	function dblClick(d){
		d3.select("#networksvg").remove();
		treeData = null;
		treeData = load_tree(snpid=d.name);
		// Set input box value to SNP name
		$("#snpinput").val(d.name);
		render_tree(treeData);
		clearTimeout(timeout);
		mouseout(obj);
	}
}  // End render_tree function


/* Activate key bindings */
$(".inputBox").on('keyup', function (e) {
	if (e.keyCode == 13) {
		change_root()
	}
});

/* Load the default tree */
treeData = load_tree(snpid=selected_default);
render_tree(treeData);

</script>

{% endblock network %}